<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.eshop.mapper.UsersMapper">
  <resultMap id="BaseResultMap" type="com.springboot.eshop.entity.Users">
    <result column="USER" jdbcType="CHAR" property="user" />
    <result column="CURRENT_CONNECTIONS" jdbcType="BIGINT" property="currentConnections" />
    <result column="TOTAL_CONNECTIONS" jdbcType="BIGINT" property="totalConnections" />
  </resultMap>
  <insert id="insert" parameterType="com.springboot.eshop.entity.Users">
    insert into users (USER, CURRENT_CONNECTIONS, TOTAL_CONNECTIONS
      )
    values (#{user,jdbcType=CHAR}, #{currentConnections,jdbcType=BIGINT}, #{totalConnections,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.springboot.eshop.entity.Users">
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="user != null">
        USER,
      </if>
      <if test="currentConnections != null">
        CURRENT_CONNECTIONS,
      </if>
      <if test="totalConnections != null">
        TOTAL_CONNECTIONS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="user != null">
        #{user,jdbcType=CHAR},
      </if>
      <if test="currentConnections != null">
        #{currentConnections,jdbcType=BIGINT},
      </if>
      <if test="totalConnections != null">
        #{totalConnections,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.springboot.eshop.entity.Users">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Email" jdbcType="VARCHAR" property="email" />
    <result column="Brithday" jdbcType="DATE" property="brithday" />
    <result column="Sex" jdbcType="INTEGER" property="sex" />
    <result column="LoginPwd" jdbcType="VARCHAR" property="loginpwd" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="IsRemoved" jdbcType="BIT" property="isremoved" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, Name, Email, Brithday, Sex, LoginPwd, CreateTime, IsRemoved
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from users
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from users
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.springboot.eshop.entity.Users">
    insert into users (Id, Name, Email, 
      Brithday, Sex, LoginPwd, 
      CreateTime, IsRemoved)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{brithday,jdbcType=DATE}, #{sex,jdbcType=INTEGER}, #{loginpwd,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{isremoved,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.springboot.eshop.entity.Users">
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="email != null">
        Email,
      </if>
      <if test="brithday != null">
        Brithday,
      </if>
      <if test="sex != null">
        Sex,
      </if>
      <if test="loginpwd != null">
        LoginPwd,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="isremoved != null">
        IsRemoved,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="brithday != null">
        #{brithday,jdbcType=DATE},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="loginpwd != null">
        #{loginpwd,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isremoved != null">
        #{isremoved,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springboot.eshop.entity.Users">
    update users
    <set>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        Email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="brithday != null">
        Brithday = #{brithday,jdbcType=DATE},
      </if>
      <if test="sex != null">
        Sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="loginpwd != null">
        LoginPwd = #{loginpwd,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isremoved != null">
        IsRemoved = #{isremoved,jdbcType=BIT},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springboot.eshop.entity.Users">
    update users
    set Name = #{name,jdbcType=VARCHAR},
      Email = #{email,jdbcType=VARCHAR},
      Brithday = #{brithday,jdbcType=DATE},
      Sex = #{sex,jdbcType=INTEGER},
      LoginPwd = #{loginpwd,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      IsRemoved = #{isremoved,jdbcType=BIT}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>